@mixin respond($breakpoint) {
    @if $breakpoint ==xs {
        @media (max-width: var(--breakpoint-xs)) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media (max-width: var(--breakpoint-sm)) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width: var(--breakpoint-md)) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width: var(--breakpoint-lg)) {
            @content;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

@mixin shadow($level) {
    @if $level ==light {
        box-shadow: var(--shadow-light);
    }

    @else if $level ==medium {
        box-shadow: var(--shadow-medium);
    }

    @else if $level ==heavy {
        box-shadow: var(--shadow-heavy);
    }
}

@mixin button($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}

@mixin btn-danger {
    background-color: var(--danger-color);
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: var(--danger-color-hover);
    }
}

@mixin icon-text-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

@mixin disable-selection {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin scrollbar {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: content-box;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

@mixin hidden-touch-scrollbar {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin visible-touch-scrollbar {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        display: block;
    }
}
