@use 'abstracts/variables' as vars;

.dark-theme {
  --text-color: #ffffff;
  --text-color-additional: rgba(255, 255, 255, 0.85);
  --text-color-grey: rgba(255, 255, 255, 0.65);
}

.light-theme {
  --text-color: #212121;
  --text-color-additional: rgba(0, 0, 0, 0.87);
  --text-color-grey: rgba(0, 0, 0, 0.6);
}


:root {
  --font-family-base: 'Roboto', 'Arial', sans-serif;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-base: 14px;
  --font-size-additional: 13px;
  --font-size-medium: 12.5px;
  --font-size-small: 12px;

  --font-size-main-title: 40px;
  --font-size-h1: 28px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-h4: 16px;
  --font-size-h5: 15px;
  --font-size-h6: 14px;

  @media (min-width: vars.$mobile-large-breakpoint) {
    --font-size-base: 16px;
    --font-size-additional: 15px;
    --font-size-medium: 14px;
    --font-size-small: 13px;

    --font-size-main-title: 48px;
    --font-size-h1: 32px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
  }
}


body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--text-color);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  margin-bottom: 16px;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-bottom: 14px;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  margin-bottom: 12px;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 600;
  margin-bottom: 10px;
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 600;
  margin-bottom: 10px;
}

h6 {
  font-size: var(--font-size-h6);
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-size: var(--font-size-base);
  margin-bottom: 10px;
}

pre {
  font-size: var(--font-size-base);
  margin-bottom: 10px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--text-color);
}