$mobile-medium-breakpoint: 440px;
$mobile-large-breakpoint: 600px;
$tablet-breakpoint: 960px;
$pc-breakpoint: 1280px;

:root {
  --success-color: #4caf50;
  --warning-color: #f57c00;
  --info-color: #2196f3;
  --light-color: #aaaaaa;
  --golden-star-color: var(--golden);
  --golden-star-color-hover: #ffca28;

  --golden: #ffc107;
  --blue: #2196f3;
  --green: #4caf50;
  --orange: #d78b1a;

  --spacing-unit: 8px;
  --spacing-xxs: calc(var(--spacing-unit) / 4);
  --spacing-xs: calc(var(--spacing-unit) / 2);
  --spacing-small: var(--spacing-unit);
  --spacing-medium: calc(var(--spacing-unit) * 2);
  --spacing-large: calc(var(--spacing-unit) * 3);
  --spacing-xl: calc(var(--spacing-unit) * 4);
  --spacing-xxl: calc(var(--spacing-unit) * 5);

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
  --border-radius-xl: 32px;
}
