@use 'abstracts/mixins' as mix;
@use 'abstracts/variables' as vars;

.collection-item {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  min-height: 150px;
  width: 100%;

  .item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    @media (min-width: vars.$mobile-large-breakpoint) {
      flex-direction: row;
    }

    .image-container {
      display: flex;
      justify-content: center;
      padding-top: var(--spacing-medium);

      .image-url {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      .item-image {
        border-radius: var(--border-radius-medium);
      }
    }

    .item-details {
      display: flex;
      flex-direction: column;
      width: 100%;

      .item-details {
        @media (min-width: vars.$mobile-large-breakpoint) {
          min-width: 320px;
        }

        @media (min-width: vars.$tablet-breakpoint) {
          min-width: 340px;
        }
      }

      .item-header {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 0;

        .left-panel {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: var(--spacing-medium) var(--spacing-medium) 0;
          text-align: center;
          align-items: center;

          @media (min-width: vars.$mobile-large-breakpoint) {
            padding-right: 48px;
            text-align: left;
            align-items: start;
          }

          mat-card-title {
            width: 100%;
            font-size: var(--font-size-h4);
            font-weight: var(--font-weight-bold);

            .year {
              color: var(--text-color-grey);
              font-weight: var(--font-weight-normal);
            }
          }

          mat-card-subtitle {
            .vote-average {
              display: inline-flex;
            }

            mat-icon {
              margin-left: var(--spacing-xs);
              font-size: 18px;
              line-height: 18px;
              height: 18px;
              width: 18px;
            }
          }

          mat-card-subtitle span::before {
            content: '•';
            margin-left: var(--spacing-small);
            margin-right: var(--spacing-small);
            color: var(--mat-card-subtitle-text-color);
          }

          mat-card-subtitle span:first-child::before {
            content: '';
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      mat-card-content {
        padding-bottom: var(--spacing-small);
      }
    }
  }

  .added-at {
    font-size: var(--font-size-small);
    color: var(--text-color-grey);
    text-align: right;
    white-space: nowrap;
    margin: 0;
  }

  .item-actions {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);
  }
}

.spacer {
  flex-grow: 1;
}